---
import BaseLayout from '../layouts/BaseLayout.astro';
const pagettl = "Init Sys";
---

<BaseLayout pagettl={pagettl} >
  <h2>Acerca de mi</h2>
  <p>
    La nulidad, así se podría definirme. No hago nada, no logro nada, no pienso nada, ya no quiero nada...
    <br>
    Me gobiernan un par de intereses, las Letras(Literatura, Filosofía), la Música, el Tai Chi, las Computadoras, Linux y poco más.
  </p>


</BaseLayout> 
